<!-- ============================================
; Title:  Exercise 3.4
; Author: Professor Massoud
; Modifications by: Micah Connelly
; Date: 3/23/2020
; Description: Assignment 3.4 -- contact.ejs
;=========================================== -->

<%- include("header") %>
<div role="main" class="container">
    <br />
    <br />
    <h2><%= message %>!</h2>
</div>
<%- include("footer") %>