<!-- ============================================
; Title: Assignment 6.4
; Author: Professor Krasso
; Modified: Micah Connelly
; Date: 9/14/2020
; Description: Assignment 6.4 - EMS (Milestone 2): User Interface Submission
=========================================== -->

<div class="jumbotron">
    <h1 class="display-4">EMS</h1>
    <p class="lead">Employee Management Systems - Providing Leading Solutions for Employee Manamagement</p>
    <hr class="my-4">
    <p>EMS is patent, copryright, and FDA-approval pending</p>
</div>