<!-- ============================================
; Title: EMS project
; Author: Professor Krasso
; Modified: Micah Connelly
; Date: 9/28/2020
; Description: EMS project
=========================================== -->

<%- include("navbar") %>
<br />
<br />
<br />
<div role="main" class="container justify-content-center">
    <br />
    <h2 class="text-success">Adding New Employee</h2>

    <form method="post" action="/process">

        <div class="form-group">
            <label for="txtFirstNamee">First Name</label>
            <input type="text" class="form-control" id="txtFirstNamee" aria-describedby="txtFirstNamee" name="txtFirstNamee">
            <small id="txtFirstNamee" class="form-text text-muted">First Name Only</small>
        </div>

        <div class="form-group">
            <label for="txtLastName">Last Name</label>
            <input type="text" class="form-control" id="txtLastName" aria-describedby="txtLastName" name="txtLastName">
            <small id="txtLastName" class="form-text text-muted">Last Name Only</small>
        </div>

        <div class="form-group">
            <label for="txtTitle">Title</label>
            <input type="text" class="form-control" id="txtTitle" aria-describedby="txtTitle" name="txtTitle">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="info">
            <label class="form-check-label" for="info">Done</label>
        </div>

        <div class="form-group">
            <!-- CSRF token -->
            <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

    <br /><br />

</div>
<%- include("footer") %>
<%- include("scripts") %>